// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #1976d2;
// $secondary: #26a69a;
// $accent: #9c27b0;
// $bg: #ffffff;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;

// src/css/quasar.variables.scss

// src/css/quasar.variables.scss

$primary: #061c2a;
$secondary: #3f6074;
$accent: #c4c9d6;

$dark: #061c2a;
$dark-page: #061c2a;

$positive: #b1a79d;
$negative: #4b2232;
$info: #1841c2;
$warning: #17243d;
$bg: #061c2a;
$text-color: #c4c9d6;
